 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
	<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>用户管理</title>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	
	<div th:replace="backstage/global::html" ></div>
   <!--  <link rel="shortcut icon" th:href="@{favicon.ico}"> 
    <link th:href="@{/backstage/css/bootstrap.min.css}" rel="stylesheet">
	<link th:href="@{/backstage/css/font-awesome.min.css}" rel="stylesheet" id="skin">
	<link th:href="@{/backstage/css/animate.min.css}" rel="stylesheet">
	<link th:href="@{/backstage/css/style.min.css}" rel="stylesheet"><base target="_blank">
    <link th:href="@{/backstage/css/plugins/iCheck/custom.css}" rel="stylesheet">
     
     <script language=javascript th:src= "@{/backstage/js/jquery.min.js}"></script>
	 <script language=javascript th:src= "@{/backstage/js/bootstrap.min.js}"></script>
	 <script language=javascript th:src= "@{/backstage/js/plugins/peity/jquery.peity.min.js}"></script>
	 <script language=javascript th:src= "@{/backstage/js/content.min.js}"></script>
	 <script language=javascript th:src= "@{/backstage/js/plugins/iCheck/icheck.min.js}"></script>
	 <script language=javascript th:src= "@{/backstage/js/import.js}"></script>
	 <script language=javascript th:src= "@{/backstage/js/demo/peity-demo.min.js}"></script>
     <script th:src= "@{/js/bootstrap-paginator.js}"></script> -->
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <!-- 表格开始  -->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>用户管理</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="table_basic.html#">选项1</a>
                                </li>
                                <li><a href="table_basic.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-5 m-b-xs">
                                <select class="input-sm form-control input-s-sm inline">
                                    <option value="0">请选择</option>
                                    <option value="1">选项1</option>
                                    <option value="2">选项2</option>
                                    <option value="3">选项3</option>
                                </select>
                            </div>
                            <div class="col-sm-4 m-b-xs">
                                <div data-toggle="buttons" class="btn-group">
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" id="option1" name="options">天</label>
                                    <label class="btn btn-sm btn-white active">
                                        <input type="radio" id="option2" name="options">周</label>
                                    <label class="btn btn-sm btn-white">
                                        <input type="radio" id="option3" name="options">月</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" placeholder="请输入关键词" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> 搜索</button> </span>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>

                                        <th></th>
                                        <th>用户登录名</th>
                                        <th>用户真实姓名</th>
                                        <th>性别</th>
                                        <th>年龄</th>
                                        <th>电话</th>
                                        <th>所属角色</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody id="userList">
                                
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
			<!-- 表格结束  -->
        </div>
    
        <!-- 分页插件 -->
	 <ul id="page"  style="float:right; padding-top: 5px;"></ul>
         
    
    </div>

    <script>
    $(function() {
    	
    	ajaxLoad(1,10);
    	
    	//当前页页码
		var currentPage = 1;
    	//总给页数
		var totalPages = 2;
		
		$("#page").bootstrapPaginator({
			bootstrapMajorVersion: 3, //对应的bootstrap版本
			currentPage: currentPage, //当前页数
			numberOfPages: 10, //每次显示页数
			totalPages: totalPages, //总页数
			shouldShowPage: true, //是否显示该按钮
			useBootstrapTooltip: true,
			onPageClicked: function(event, originalEvent, type, page) {
				console.log(type);
				console.log(event);
				console.log(page);
			}
		});
	});
    
    function  ajaxLoad(pageIndex,pageSize){
    	//获取页码
    	var url =  [[@{/}]]+"backstage/userController/getUserList?pageIndex="+pageIndex+"&pageSize="+pageSize;
		$.ajax({
			  type: 'POST',
			  url: url,
			  data: "",
			  dataType: 'json',
	          contentType: 'application/json',
	          async: true,
			  success:function(data, textStatus){
				  $('#userList tr').remove();
				  var dataList = data.reuslt_data;
				  var total = data.result_total;
				  console.info(dataList);
				  for(var i=0;i<dataList.length;i++){
					  $('#userList').append('<tr>');
					  $('#userList').append(' <td><input type="checkbox" checked class="i-checks" value='+dataList[i].id+'></td>');
                      $('#userList').append('<td>'+dataList[i].loginname+'</td>');
                      $('#userList').append('<td>'+dataList[i].name+'</td>');
                      $('#userList').append('<td>'+dataList[i].sex+'</td>');
                      $('#userList').append('<td>'+dataList[i].age+'</td>');
                      $('#userList').append('<td>'+dataList[i].phone+'</td>');
                      $('#userList').append(' <td>'+dataList[i].roleName+'</td>');
                      $('#userList').append('<td><a href="table_basic.html#"><i class="fa fa-check text-navy"></i></a></td>');
                      $('#userList').append('</tr>');
				  }
		       }
			  ,error:function(XMLHttpRequest, textStatus, errorThrown){
			  }
		 });
    }
    
        $(document).ready(function(){$(".i-checks").iCheck({checkboxClass:"icheckbox_square-green",radioClass:"iradio_square-green",})});
    </script>
</body>

</html>